@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

button {
    font-family: "Raleway", sans-serif;
    color: #fff;
    background-color: #e64a0c;
    border: 3px solid #e64a0c;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px 20px;
}
.header {
    background: #333;
    padding-top: 15px;
}
.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
    font-weight: 700;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #e64a0c;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #e64a0c;
}

.nav__link:hover:after {
    opacity: 1;
}
.nav__link-selected{
    color: #e64a0c
}
.numbers {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 700;
}
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
h2 {
    margin-top: 40px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards__item {
    max-width: 46.7%;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.cards__item:hover {
    transform: translateY(-5px);
}
.cards__tittle {
    margin-top: 5px;
}
.cards__link {
    padding: 7px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-right: 442px;
    color: #fff;
    background-color: #333;
}
.contact__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.contact__link {
    font-weight: 700;
    font-size: 20px;
}
.contact__link:hover {
    color: #e64a0c;
}
.contact__text {
    margin: 10px 0;
}
.accordion {
    background-color: #333;
    border-radius: 10px;
}
.accordion__box {
    position: relative;
}
.accordion__label {
    position: relative;
    padding: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.accordion__label::after {
    content: "\276F";
    position: absolute;
    right: 20px;
    font-size: 25px;
    font-weight: 700;
    transition: all .35s;
    top: 20%;
}
.accordion__box.active .accordion__label::after {
    transform: rotate(90deg);
}
.accordion__content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: .35s;
    background-color: #fff;
}
.accordion__text {
    padding: 20px;
    line-height: 28px;
    font-size: 18px;
}
.add_info__list {
    padding: 0;
}
.add_info__item {
    margin-bottom: 10px;
}
.add_info__link:hover {
    color: #e64a0c;
}
